/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	color: inherit;
}

a:hover{
	text-decoration: none;
}

.thinsp {
	letter-spacing: -.15em;
}

*:focus {
  outline: none;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

h1,
h2,
h3 {
	font-weight: normal;
}

p,
h1,
h2,
h3,
ul li {
	hyphens: auto;
}

strong {
	white-space: nowrap;
}

/* /////////////////////////////////////// */

:root {
  --unit: 14px;
}

html {
  font-size: calc(var(--unit) * 1);
  width: 100vw;
  overflow-x: hidden;
}

body{
  position:absolute;
  padding: 2vw;
  background-color: #e4d5e07d;
}
.item{
	padding-bottom: 16px;
}

section.info {
    display: -webkit-box;
}

.date{
  font-family: 'JetBrainsMonoNL-Regular';
  font-size: calc(var(--unit) * 1.5);
  line-height: calc(var(--unit) * 1.3);
  display: block;
  margin-top: 1%;
}

.link {
  font-family: 'NationalPark-Regular';
  font-size: calc(var(--unit) * 3);
  line-height: calc(var(--unit) * 3);
  color: #4b77ffff;
}

.user {
  font-family: 'NationalPark-Regular';
  font-size: calc(var(--unit) * 1.5);
  line-height: calc(var(--unit) * 1.3);
  color: #8f6c8dff;
}

.tags{
  font-family: 'NationalPark-Regular';
  font-size: 20px;
  color: #4b77ffff;
}

.link:hover + span + span + span {
	display: block;
}

.abstractNote {
  font-family: NotCourierSans;
  font-size: 17px;
  color: #8f6c8dff;

}
.note {
	position: relative;
	font-family: 'NationalPark-Regular';
	font-size: calc(var(--unit) * 2);
	line-height: calc(var(--unit) * 2);
	color: #8f6c8dff;
	width: 65%;
	left: 13%;
}

iframe {
	display: block;
	width: 100%;
	position: relative;
	/* background-color: red; */
	padding: 2%;
	z-index: 1;
}

@font-face {
  font-family:'VictorMono-Regular';
  src: url('../fonts/VictorMono-Regular.ttf')
}

@font-face {
  font-family:'JetBrainsMonoNL-Regular';
  src: url('../fonts/JetBrainsMonoNL-Regular.ttf')
}

@font-face {
  font-family:'InriaSans-Regular';
  src: url('../fonts/InriaSans-Regular.ttf')
}

@font-face {
  font-family:'InriaSans-BoldItalic';
  src: url('../fonts/InriaSans-BoldItalic.ttf')
}

@font-face {
  font-family:'NationalPark-Thin';
  src: url('../fonts/NationalPark-Thin.otf')
}

@font-face {
  font-family:'NationalPark-Regular';
  src: url('../fonts/NationalPark-Regular.otf')
}

@font-face {
  font-family:'NotCourierSans';
  src: url('../fonts/NotCourierSans.ttf')
}